<div class="d-flex">
  <div class="w-25 small text-center">
    <div><i class="fa-regular fa-file" style="font-size: 50px;"></i></div>
    <div class="">
      <a href="{{jobData.onlineEditorLink}}" target="_blank">Check in online editor</a>
    </div>
  </div>
  <div *ngFor="let document of jobData.documents" class="ms-1 w-25 small text-center">
    <div>
      <div title="{{ document.originalFileName }}"><i class="fa-regular fa-file" style="font-size: 50px;"></i></div>
      <div class="">
        <a href="/api/monitoring/downloaddocument/{{document.id}}">{{ document.documentTypeName }}</a>
      </div>
    </div>
  </div>
</div>
<div class="mt-4">
  <a href="#" class="d-block mb-2" (click)="rectifyOriginalDocument($event);">Rectify original document</a>
  <a href="#" class="d-block mb-2" (click)="uploadDocument($event)">Upload document</a>
  <a href="#" class="d-block mb-2" (click)="showAnalysis($event)">Show analysis</a>
</div>
