<div class="input-group">
    <input type="text" class="form-control" id="searchInput" placeholder="Search..." required title="Please select a client.">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"></button>
        <div class="dropdown-menu" id="searchDropdown">
            <!-- Autofill results will appear here -->
        </div>
    </div>
</div>



@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                const query = $(this).val();

                if (query.length === 0) {
                    $('#searchDropdown').empty();
                    return;
                }

                $.ajax({
                    url: '@Url.Action("api/Common/GetFilteredClients", "SearchDropdown")',
                    type: 'GET',
                    data: { query: query },
                    success: function (data) {
                        const dropdown = $('#searchDropdown');
                        dropdown.empty();

                        data.forEach(item => {
                            const dropdownItem = $('<a class="dropdown-item"></a>').text(item);
                            dropdown.append(dropdownItem);

                            dropdownItem.on('click', function () {
                                $('#searchInput').val($(this).text());
                            });
                        });

                        if (data.length > 0) {
                            $('.input-group-append .dropdown-toggle').dropdown('show');
                        } else {
                            $('.input-group-append .dropdown-toggle').dropdown('hide');
                        }
                    },
                    error: function (error) {
                        console.error("There was an error fetching the autofill results", error);
                    }
                });
            });
        });
    </script>
}
