@model CreateQuoteViewModel
@{
    ViewBag.Title = "Quote Calculator";
}

<style>
</style>

@section Scripts {
}

<h2>Quotes</h2>

<form method="post" enctype="multipart/form-data" asp-action="HandleQuote">
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    Quotes
</form>
