<div>
  <div class="form-control">
    <label>Project manager: </label> <span class="text-primary"> {{jobData.projectManager}} </span>
  </div>
  <div *ngIf="jobData.projectManager" class="form-control mt-2">
    <app-task-allocation [jobData]="jobData" [allocation]="{task: 3, description: 'Translator'}"></app-task-allocation>
  </div>
  <div class="form-control mt-2">
    <app-task-allocation [jobData]="jobData" [allocation]="{task: 4, description: 'Reviser'}"></app-task-allocation>
  </div>
</div>
