@{
    ViewBag.Title = "Monitoring";
}

<style>
</style>

@section Scripts {
}

<!-- Angular styles -->
<link href="~/backoffice/angular/dist/monitoring/styles.css" rel="stylesheet" />

<h2>Monitoring</h2>

<app-root>Loading...</app-root>

<!-- Angular scripts -->
<script type="text/javascript" src="~/backoffice/angular/dist/monitoring/runtime.js"></script>
<script type="text/javascript" src="~/backoffice/angular/dist/monitoring/polyfills.js"></script>
<script type="text/javascript" src="~/backoffice/angular/dist/monitoring/main.js"></script>
