/CAT-web/wwwroot/lib/bootstrap/dist/css/*.map
*.vsidx
*.props
bin
obj
/CAT-web/wwwroot/lib
/CAT-web/.vs/CAT-web/DesignTimeBuild/*.v2
*.lock
/CAT-web/.vs/CAT-web/v17/*.v2
/CAT-web/.vs/CAT-web/v17/.suo
/CAT-web/.vs/ProjectEvaluation/*.bin
/CAT-web/.vs/CAT-web/config
/CAT-web/.vs/CAT-web/v16/*.suo
*.map
/Contents
/.vs/CAT/v17/.futdcache.v2
/.vs/ProjectEvaluation/cat.metadata.v7.bin
/.vs/ProjectEvaluation/cat.projects.v7.bin
/.vs/CAT/v17/TestStore/0/000.testlog
