[submodule "Java/Okapi master/okapi"]
	path = Java/Okapi master/okapi
	url = https://bitbucket.org/okapiframework/okapi.git
[submodule ".Net/Lucenenet"]
	path = .Net/Lucenenet
	url = https://github.com/apache/lucenenet.git
