/CAT-web/wwwroot/lib/bootstrap/dist/css/*.map
*.vsidx
*.props
bin
obj
/CAT-web/wwwroot/lib
/CAT-web/.vs/CAT-web/DesignTimeBuild/*.v2
*.lock
/CAT-web/.vs/CAT-web/v17/*.v2
/CAT-web/.vs/CAT-web/v17/.suo
/CAT-web/.vs/ProjectEvaluation/*.bin
/CAT-web/.vs/CAT-web/config
/CAT-web/.vs/CAT-web/v16/*.suo
*.map
/Contents
