@{
    ViewBag.Title = "Monitoring details";
}

<style>
</style>

@section Scripts {
}

<!-- Angular styles -->
<link href="~/monitoring/dist/monitoring/styles.css" rel="stylesheet" />

<h2>Monitoring details</h2>

<app-root>Loading...</app-root>

<!-- Angular scripts -->
<script type="text/javascript" src="~/monitoringDetails/dist/monitoring-details/runtime.js"></script>
<script type="text/javascript" src="~/monitoringDetails/dist/monitoring-details/polyfills.js"></script>
<script type="text/javascript" src="~/monitoringDetails/dist/monitoring-details/main.js"></script>
