@{
    ViewBag.Title = "Monitoring";
}

<style>
</style>

@section Scripts {
}

<!-- Bootstrap CSS CDN -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- Angular styles -->
<link href="~/monitoring/dist/monitoring/styles.css" rel="stylesheet" />

<app-root>Loading...</app-root>

<!-- Angular scripts -->
<script type="text/javascript" src="~/monitoring/dist/monitoring/runtime.js"></script>
<script type="text/javascript" src="~/monitoring/dist/monitoring/polyfills.js"></script>
<script type="text/javascript" src="~/monitoring/dist/monitoring/main.js"></script>

<h2>Monitoring</h2>
