@model Job

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <!-- Add enctype attribute -->
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Upload File</label>
                <input type="file" name="file" class="form-control" required /> <!-- Add file input field with required attribute -->
            </div>
            <div class="form-group">
                <label class="control-label">Upload filter</label>
                <input type="file" name="fileFilter" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Source Language</label>
                <input type="text" name="sourceLang" class="form-control" required /> <!-- Add input field for sourceLang with required attribute -->
            </div>
            <div class="form-group">
                <label class="control-label">Target Language</label>
                <input type="text" name="targetLang" class="form-control" required /> <!-- Add input field for targetLang with required attribute -->
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
