.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* This dims the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures the spinner is on top of other content */
}
