<!-- Container for the workflow visualization -->
<div class="row">
  <!-- Iterate over each workflow step and display its data -->
  <ng-container *ngFor="let workflowStep of workflowSteps">
    <div class="m-workflow-step mr-1 mb-3" *ngIf="workflowStep.taskId !== 0">
      <div class="bg-warning bg-gradient rounded-4 small text-center" [ngClass]="{
           'bg-opacity-75': workflowStep.status === 2,
           'bg-opacity-50': workflowStep.status === 1,
           'bg-opacity-10': workflowStep.status === 0
         }"
           style="min-height: 90px;">
        <div class="m-2">
          <p><b class="card-title">{{workflowStep.task}}</b><p>
            <div class="card-text small">{{ workflowStep.scheduledDate | date:'dd/MM/yyyy HH:mm' }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

