.hover-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; /* This makes sure the button positions relative to this container */
  padding-right: 80px; /* This ensures there's space for the absolute positioned button */
}

.profile-image-container {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-left {
  flex-grow: 1;
}

.allocate-button {
  display: none;
  position: absolute; /* This positions the button */
  top: 50%; /* These two lines center the button vertically */
  transform: translateY(-50%);
  right: 10px; /* Distance from the right edge of the container */
}

.hover-container:hover .allocate-button {
  display: block;
}
