<div class="modal-header">
  <h4 class="modal-title">{{ allocation.description }} allocation</h4>
  <button type="button" class="btn btn-outline-secondary btn-sm" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="autocomplete-container">
    <input type="text"
           class="form-control"
           [(ngModel)]="searchTerm"
           (input)="throttledSearch()"
           placeholder="Search for linguist...">

    <div *ngIf="isLoading" class="spinner text-warning">
      Loading...
      <!-- You can replace "Loading..." with an actual spinner element or image -->
    </div>

    <div *ngIf="linguists.length" class="dropdown-menuu show">
      <a *ngFor="let linguist of linguists" class="dropdown-itemm">
        {{ linguist.user.fullName }}
      </a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-warning" (click)="close()">Close</button>
</div>
